@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Arvo', serif;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}