@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Arvo', serif;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.search-options {
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow-x: auto;
}

.option {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #70757a;
    margin: 0 10px;
}

.contact-list {
    text-decoration: none;
}

.option i {
    margin-right: 5px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .search-options {
        display: flex;
        align-items: center;
        margin-top: 20px;
        overflow-x: scroll;
    }

    .option {
        margin: 5px 10px;
    }
}

.accordion {
    max-width: 100%;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.last-accordion {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.accordion-body {
    padding: 10px;
    display: none;
}


.image-slider {
    vertical-align: middle;
}

.slider-container {
    position: relative;
}

.mySlides1 {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption1-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo1 {
    opacity: 0.6;
}

.active,
.demo1:hover {
    opacity: 1;
}
@media print {
    .print-button {
        display: none;
    }
}